/* noto-sans-jp-700 - japanese_latin */
@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    src: local('Noto Sans Japanese Bold'), local('NotoSansJapanese-Bold'),
    url('../noto-sans-jp-v27-latin_japanese-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../noto-sans-jp-v27-latin_japanese-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* noto-sans-jp-500 - japanese_latin */
@font-face {
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 500;
    src: local('Noto Sans Japanese Medium'), local('NotoSansJapanese-Medium'),
    url('../noto-sans-jp-v27-latin_japanese-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../noto-sans-jp-v27-latin_japanese-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}