@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  font-size: 5rem;
  color: rgb(157, 0, 255);
  text-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

h2 {
  font-size: 3rem;
  margin-bottom: 0;
  text-align: center;
  color: rgb(144, 127, 255);
  text-shadow: 0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.25);
}

.container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.math-title {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
}

.game-container {
  background-color: rgb(157, 0, 255);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 560px;
  margin-top: 1rem;
  padding: 2rem;
  border: 0.5rem solid #000;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
  border-radius: 2rem;
}

.question-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26rem;
  border-radius: 5rem;
  border: 0.5rem solid #FFF;
  background-color: rgb(144, 127, 255);
}

.num-block {
  width: 5rem;
  /* height: 10rem; */
  border-radius: 5rem;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
  color: #000;
}

.operator {
  width: 5rem;
  height: 6rem;
  margin: 1rem;
  font-size: 6rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.answer {
  width: 20rem;
  height: 9rem;
  margin: 2rem;
  border-radius: 5rem;
  border: 0.5rem solid #FFF;
  background-color: rgb(144, 127, 255);
  color: #000;
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #000;
}

.button {
  width: 5rem;
  height: 5rem;
  border-radius: 2.5rem;
  background-color: rgb(144, 127, 255);
  border: 5px solid #FFF;
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.enter-button {
  width: 15rem;
  height: 5rem;
  border-radius: 2.5rem;
  background-color: rgb(187, 178, 252);
  border: 5px solid #FFF;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.delete-button {
  width: 8rem;
  height: 5rem;
  border-radius: 2.5rem;
  background-color: rgb(187, 178, 252);
  border: 5px solid #FFF;
  font-size: 3rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 7px;

}

.numbers-container {
  display: flex;
  flex-flow: row wrap;
  width: 500px;
  grid-template-columns: repeat(5, 6rem);
  grid-template-rows: repeat(3, 6rem);
  justify-content: space-evenly;
  align-items: center;
}

.score {
  display: flex;
}

.score-info {
  margin: 1rem 1.5rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: rgb(114, 93, 255);
}

/* ===================================================
                       MODALS
=================================================== */

.modal-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  transition: 250ms opacity ease-in;
}

.modal-correct {
  width: 30rem;
  height: 20rem;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.modal-incorrect {
  width: 30rem;
  height: 20rem;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.modal-answer-given {
  width: 30rem;
  height: 20rem;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.modal-game-over {
  width: 30rem;
  height: 20rem;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.correct-answers {
  font-size: 3rem;
  margin-bottom: 0;
  color: rgb(144, 127, 255);
  text-shadow: 0.15rem 0.15rem 0.25rem rgba(0, 0, 0, 0.25);
}

.modal-no-answer {
  position: relative;
  width: 18rem;
  height: 12rem;
  background-color: rgba(255, 255, 255, 0.85);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.5);
}

.accolations {
  font-size: 5rem;
  color: rgb(157, 0, 255);
  text-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.5);
}

.modal-visible {
  opacity: 1;
  pointer-events: auto;
}

.btn {
  width: 10rem;
  height: 4rem;
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin: 2rem;
  background-color: rgb(119, 0, 255);
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 0.5rem;
}

.btn-x {
  width: 2rem;
  height: 2rem;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 700;
  margin: 1rem;
  background-color: rgb(119, 0, 255);
  color: rgb(255, 255, 255);
  border: 0;
  border-radius: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
}