@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --color-main: #EF4136;
    --color-dark: #181818;
    --color-light: #777777;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

body {
    background-color: var(--color-light);
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
    color: var(--color-main);
    text-decoration: none; 
}

.container {
    display: flex;
    flex-flow: column nowrap;
    position: relative;
    width: 100vw;
    background-color: #FFF;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

/* ================================== NAVIGATION SECTION =========== */

.navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #000;
    color: #FFF;
    height: 4rem;
    position: fixed;
    width: 900px;
    z-index: 1;
}

.logo-box {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 2.25rem;
    height: 2.25rem;
    background-color: var(--color-main);
    color: #FFF;
    border-radius: 2px;
    margin: 5px;
    font-size: 2.5rem;
    padding-bottom: 10px;
    cursor: pointer;
}

.menu-list {
    display: flex;
    flex-flow: row nowrap;
    list-style-type: none;
}

li, li:active, li:visited {
    padding: 10px 15px;
    color: #FFF;
    text-decoration: none;
}

li:hover {
    padding: 10px 15px;
    color: var(--color-main);
    cursor: pointer;
}

li span {
    position: relative;
    left: -15px;
  }

/* ================================== HERO NAME SECTION =========== */

.name-grid {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.my-name-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.my-name {
    color: #111;
    font-size: 6rem;
    font-weight: 800;
    padding: 0 8px 20px 8px;
}

.my-name-container::before {
    content: "";
    top: 0;
    width: 8rem;
    height: 8rem;
    background-color: var(--color-main);
    border-radius: 5px;
    margin-top: 20px;
    margin-right: 12px;
}

.bullet-red {
    width: 1.6rem;
    height: 1.6rem;
    background-color: var(--color-main);
    border-radius: 0.8rem;
}

.bullet-white {
    width: 1.6rem;
    height: 1.6rem;
    background-color: #FFF;
    border-radius: 0.8rem;
}

.my-title {
    font-size: 1.7rem;
    color: var(--color-light);
    margin-left: 88px;
    margin-top: -40px;
    font-weight: 300;
}

h1 {
    font-size: 4rem;
}

h3 {
    font-weight: 400;
    color: var(--color-light);
}

/* ================================== ABOUT ME SECTION =========== */

.about-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark);
    color: #FFF;
    height: 100vh;
    padding-right: 4rem;
}

.profile-pic {
    width: 16rem;
    height: 16rem;
    border-radius: 8rem;
    border: solid 9px var(--color-main);
    margin: 40px;
}

.about-title {
    font-size: 3rem;
    font-weight: 600;
    color: #FFF;
    line-height: 3rem;
    padding-bottom: 10px;
}

.about-text {
    font-size: 1rem;
    font-weight: 400;
    color: #777;
    line-height: 1.5rem;
    padding-right: 20px;
}

/* ================================== SKILLS SECTION =========== */

.skills-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--color-main);
    color: #FFF;
    height: 100vh;
    padding-right: 4rem;
}

.skills-title {
    font-size: 6rem;
    font-weight: 900;
    color: var(--color-dark);
    line-height: 3rem;
    padding-bottom: 40px;
}

.skills-text {
    font-size: 2rem;
    font-weight: 300;
    color: #FFF;
    line-height: 3rem;
    padding-bottom: 5px;
}

.skills-bracket {
    font-size: 48rem;
    color: #ff5c50;
    padding-bottom: 120px;
}

/* ================================== PROJECTS SECTION =========== */

.projects-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #FFF;
    color: var(--color-dark);
    height: 100vh;
}

/* ================================== FOOTER SECTION =========== */

.footer-container {
    position: fixed;
    bottom: 0;
    width: 900px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #000;
    color: #FFF;
    height: 3rem;
}

.footer-info {
    padding: 0 20px;
}

.social {
    font-size: 1.5rem;
    color: #FFF;
    padding: 0 5px;
}

.social:hover {
    font-size: 1.5rem;
    color: var(--color-main);
    padding: 0 5px;
    cursor: pointer;
}

/* ================================== MEDIA QUERY =========== */

@media only screen and (max-width: 900px) {

    .container {
        display: flex;
        flex-flow: column nowrap;
        position: relative;
        width: 100vw;
        background-color: #FFF;
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .navbar {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        background-color: #000;
        color: #FFF;
        height: 4rem;
        position: fixed;
        width: 100%;
        z-index: 1;
    }

    .footer-container {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: #000;
        color: #FFF;
        height: 3rem;
        z-index: 1;
    }

    .my-name {
        font-size: 3rem;
        font-weight: 800;
        padding: 0 4px 10px 4px;
    }

    .bullet-red {
        width: 0.8rem;
        height: 0.8rem;
        background-color: var(--color-main);
        border-radius: 0.4rem;
    }
    
    .bullet-white {
        width: 0.8rem;
        height: 0.8rem;
        background-color: #FFF;
        border-radius: 0.4rem;
    }

    .my-title {
        font-size: .85rem;
        color: #777;
        margin-left: 44px;
        margin-top: -20px;
        font-weight: 400;
    }

    .about-container {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        background-color: var(--color-dark);
        color: #FFF;
        height: 100vh;
        text-align: center;
        padding: 0;
    }

    .my-name-container::before {
        content: "";
        top: 0;
        width: 4rem;
        height: 4rem;
        background-color: var(--color-main);
        border-radius: 3px;
        margin-top: 10px;
        margin-right: 6px;
    }
    
    .about-text {
        font-size: 1rem;
        font-weight: 400;
        color: var(--color-light);
        line-height: 1.5rem;
        padding: 0 35px;
    }

    .skills-title {
        font-size: 3rem;
        font-weight: 900;
        color: var(--color-dark);
        line-height: 3rem;
        padding-bottom: 10px;
    }
    
    .skills-text {
        font-size: 1rem;
        font-weight: 400;
        color: #FFF;
        line-height: 1.5rem;
        padding-bottom: 5px;
    }
    
    .skills-bracket {
        font-size: 24rem;
        color: #ff5c50;
        padding-bottom: 50px;
    }
}